.App {
  background-color: rgb(221, 204, 181);
  padding: 1em 1.5em;
}

.App-body {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 5em;
}

h1 {
  font-size: 1.5em;
}

.botones-header {
  margin-left: 15em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button {
  margin-left: 1em;
  padding:10px;
  border:none;
  font-size: 1em;
  color:rgb(59, 53, 53);
  background-color: rgb(141, 186, 207);
} 